<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WacthFolder" value="C:\reports\excell_files"/>
    <add key="ZipFolder" value="C:\reports\zipped_files"/>
    <add key="ZipEncryptionPassword" value="snet123qwe!"/>


    <add key="MailPort" value="587"/>
    <add key="Timeout" value="10000"/>
    <add key="MailHost" value="smtp.gmail.com"/>
    <add key="MailAddress" value="pspdriven@gmail.com"/>
    <add key="MailPassword" value="deneme_987!"/>
    <add key="EmailFile" value="C:\reports\emailcontactsandlink.json"/>
  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>